@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*     font-family: 'Big Shoulders Display', cursive; font-family: 'Lexend Deca', sans-serif; */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 95%);
    background: hsl(0, 0%, 95%);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 520px;
    border-radius: 10px;
    margin: 100px 0;
    overflow: hidden;
}

section {
    padding: 3.1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 310px;
}

.grid-one {
    background: hsl(31, 77%, 52%);
}

.btn-one {
    color: hsl(31, 77%, 52%);
}

.grid-two {
    background: hsl(184, 100%, 22%);
}

.btn-two {
    color: hsl(184, 100%, 22%);
}


.grid-three {
    background: hsl(179, 100%, 13%);
}

.btn-three {
    color: hsl(179, 100%, 13%);
}


h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
}

main a {
    display: inline-block;
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    border: solid 3px hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 12px 27px;
    transition: all 0.5s ease;
    margin-top: 15px;
}

main a:hover {
    background: transparent;
    color: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px; text-align: center; 
    color: black;
    }
    
.attribution a {
     color: hsl(228, 45%, 44%); 
    }

@media screen and (max-width:850px) {
    main {
        display: block;
    }

    section {
        max-width: 480px;
    }
}

